<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cats">Cats</a></li>
            <li><a href="/dogs">Dogs</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>